<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>


<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <b><span class="align-middle" th:text="${user.getEmail()}"></span></b>
            <span class="align-middle">with roles:</span>
            <span class="align-middle" th:each="role: ${user.getRoles()}" th:text="${role.getName()} + ' '"></span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</div>

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="p-0 col-2">
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <a class="nav-link active" href="/admin/">Admin</a>
                <a class="nav-link" href="/user">User</a>

            </div>
        </div>

        <div class="p-0 col-10 bg-light">
            <div class="tabs p-4">
                <h1>Admin panel</h1>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#userTable">Users Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <!--////////////////          SHEET <<USERS TABLE>>         ////////////////-->

                    <div class="tab-pane fade show active" id="userTable">

                        <div class="p-3 border">
                            <h5 class="my-0 mx-2">All users</h5>
                        </div>

                        <div class="p-3 bg-white border border-top-0">
                            <table class="usersTable table table-striped bg-white">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user:${users}">
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getUsername()}"></td>
                                    <td th:text="${user.getLastName()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td>
                                        <div th:each="userRoles : ${user.getRoles()}"
                                             th:text="${userRoles.getName()}"></div>
                                    </td>
                                    <td>

                                        <!--////////////////         MODAL WINDOW <<EDIT>>         ////////////////-->

                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                th:data-target="${'#edit'+user.getId()}">Edit
                                        </button>

                                        <div class="modal fade" th:id="${'edit'+user.id}"
                                             aria-labelledby="editModalLabel " aria-hidden="true">

                                            <div class="modal-dialog modal-dialog-centered">

                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>

                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>

                                                    </div>

                                                    <form th:method="POST" th:action="@{update}" th:object="${user}">

                                                        <div class="modal-body col-md text-center">

                                                            <input th:name="updId" type="hidden"
                                                                   th:value="${user.getId()}"/>

                                                            <fieldset disabled>
                                                                <label for="updateId"><b>ID</b></label>
                                                                <input th:name="id" th:type="text"
                                                                       class="form-control" id="updateId"
                                                                       th:value="${user.getId()}">
                                                            </fieldset>
                                                            <br>
                                                            <label for="updateUsername"><b>Name</b></label>
                                                            <input th:name="username" th:type="text"
                                                                   class="form-control" id="updateUsername"
                                                                   th:value="${user.getUsername()}"/>
                                                            <br>
                                                            <label for="updateLastname"><b>Surname</b></label>
                                                            <input th:name="lastName" th:type="text"
                                                                   class="form-control" id="updateLastname"
                                                                   th:value="${user.getLastName()}"/>
                                                            <br>
                                                            <label for="updateAge"><b>Age</b></label>
                                                            <input th:name="age" th:type="number"
                                                                   class="form-control" id="updateAge"
                                                                   th:value="${user.getAge()}"/>
                                                            <br>
                                                            <label for="updateEmail"><b>Email</b></label>
                                                            <input th:name="email" type="email"
                                                                   class="form-control" id="updateEmail"
                                                                   th:value="${user.getEmail()}"/>
                                                            <br>
                                                            <label for="updatePassword"><b>Password</b></label>
                                                            <input th:name="password" th:type="password"
                                                                   class="form-control" id="updatePassword"
                                                                   th:value="${user.getPassword()}"/>
                                                            <br>
                                                            <label for="updateRoles"><b>Role</b></label>
                                                            <select multiple class="form-control" size="2"
                                                                    id="updateRoles"
                                                                    name="rolesId">
                                                                <option
                                                                        th:each="role : ${roles}"
                                                                        th:value="${role.getId()}"
                                                                        th:text="${role.getName()}"
                                                                        th:selected="${role.getId()}==2">
                                                                </option>
                                                            </select>
                                                            <br><br>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Edit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>

                                        <!--////////////////         MODAL WINDOW <<DELETE>>         ////////////////-->

                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:data-target="${'#delete' + user.getId()}">Delete
                                        </button>

                                        <div class="modal fade" th:id="${'delete'+user.getId()}"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModal">Delete user</h5>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <form th:method="POST" th:action="@{delete}" th:object="${user}">

                                                        <div class="modal-body col-md text-center">

                                                            <input th:name="delId" type="hidden"
                                                                   th:value="${user.getId()}"/>

                                                            <fieldset disabled>
                                                                <label for="deleteId"><b>ID</b></label>
                                                                <input th:name="id" th:type="text"
                                                                       class="form-control" id="deleteId"
                                                                       th:value="${user.getId()}"/>
                                                                <br>
                                                                <label for="deleteUsername"><b>Name</b></label>
                                                                <input th:name="username" th:type="text"
                                                                       class="form-control" id="deleteUsername"
                                                                       th:value="${user.getUsername()}"/>
                                                                <br>
                                                                <label for="deleteLastname"><b>Surname</b></label>
                                                                <input th:name="lastName" th:type="text"
                                                                       class="form-control" id="deleteLastname"
                                                                       th:value="${user.getLastName()}"/>
                                                                <br>
                                                                <label for="deleteAge"><b>Age</b></label>
                                                                <input th:name="age" th:type="number"
                                                                       class="form-control" id="deleteAge"
                                                                       th:value="${user.getAge()}"/>
                                                                <br>
                                                                <label for="deleteEmail"><b>Email</b></label>
                                                                <input th:name="email" type="email"
                                                                       class="form-control" id="deleteEmail"
                                                                       th:value="${user.getEmail()}"/>
                                                                <br>
                                                                <label for="deletePassword"><b>Password</b></label>
                                                                <input th:name="password" th:type="password"
                                                                       class="form-control" id="deletePassword"
                                                                       th:value="${user.getPassword()}"/>
                                                                <br>
                                                                <label for="deleteRoles"><b>Role</b></label>
                                                                <select multiple class="form-control" size="2"
                                                                        id="deleteRoles">
                                                                    <option th:each="role : ${user.roles}"
                                                                            th:text="${role.getName()}">
                                                                    </option>
                                                                </select>
                                                                <br><br>
                                                            </fieldset>
                                                        </div>
                                                        <div class="modal-footer">

                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--////////////////          SHEET <<NEW USER>>         ////////////////-->

                    <div class="tab-pane fade" id="newUser">

                        <div class="p-3 border">
                            <h5 class="my-0 mx-2">Add new user</h5>
                        </div>

                        <div class="col-md bg-white border">
                            <form align="center" class="offset-md-4 col-md-3 mt-3 mb-4"

                                  th:method="POST" th:action="@{save}" th:object="${user}">
                                <br>
                                <label for="username"><b>Name</b></label>
                                <input th:name="username" th:type="text" class="form-control" id="username"/>
                                <br>
                                <label for="lastname"><b>Surname</b></label>
                                <input th:name="lastName" th:type="text" class="form-control" id="lastname"/>
                                <br>
                                <label for="age"><b>Age</b></label>
                                <input th:name="age" th:type="number" class="form-control" id="age" min="1" max="200"/>
                                <br>
                                <label for="email"><b>Email</b></label>
                                <input th:name="email" type="text" class="form-control" id="email" required/>
                                <br>
                                <label for="password"><b>Password</b></label>
                                <input th:name="password" type="text" class="form-control" id="password" required/>
                                <br>
                                <label for="roles"><b>Role</b></label>
                                <select multiple class="form-control" size="2" id="roles" name="rolesId">
                                    <option value="1">ADMIN</option>
                                    <option selected="selected" value="2">USER</option>
                                </select>
                                <br>

                                <button th:type="submit" class="btn btn-success btn-lg"
                                        value="Add new user">Add new user
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>


