<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<h2>Create user</h2>
<br>

<form th:method="POST" th:action="saveUser" th:object="${user}">

    <input type="hidden" th:field="*{id}" id="id"/>

    <label for="firstName">Name: </label>
    <input type="text" th:field="*{username}" id="firstName"/>
    <br/>
    <label for="lastName">Surname: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="age">Age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <label for="admin">ADMIN</label>
    <input type="checkbox" name="roleAdmin" th:value="ADMIN" id = "admin" >

    <!--</form>-->
<!--    <form th:method="POST" th:object="${roles}">-->
<!--        <label for="role">Role(s): </label>-->
<!--        <input type="text" th:field="*{}" id="role"/>-->
<!--    </form>-->
<!--    <label for="role">Role(s): </label>-->
<!--    <input type="text" th:field="*{nam}" id="role"/>-->
<!--    -->
<!--    <div th:each="role : ${user.getRoles()}">-->
<!--        <p th:text="${role.getName()}"></p>-->
<!--    </div>-->
<!--    <input type="radio" name="nameRoles" value="USER"/>USER-->
<!--    <input type="radio" name="nameRoles" value="ADMIN"/>ADMIN-->
<!--    <br/>-->
<!--    <div th:each="role : ${roles}">-->
<!--        <input type="text" name="nameRoles" th:value="${role.name}" th:text="${role.name}" th:checked="${role.name} == USER"/>-->
<!--    </div>-->
    <br/><br/>

    <input type="submit" value="Save">
</form>

</body>
</html>